<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Software development company in Edinburgh | Softnergy Limited</title>
        <meta name="description" content="Softnergy Limited">
        <meta name="author" content="Custom software development from an award winning UK software company. We create software applications that help our customers' businesses grow. Call +44 785 7965 032">
        <meta name="keywords" content="Bespoke Software development, Software companies in Scotland,Software developers in Edinburgh, Coders in Edinburgh, C-Sharp, british software development company, affordable web development in Scotland, affordable web development in Edniburgh, mobile development for business, affordable website development in UK, website development in midlothian, professional and affordable software development in glassgow, website development in Falkirk ">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
         <link rel="canonical" href="https://softnergy.com/" />
         <meta property="og:locale" content="en_GB" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Software development company in Edinburgh | Softnergy Limited" />
        <meta property="og:description" content="Custom software development company in Scotland. We create affordable software applications that help our customers' businesses grow. Call +44 785 7965 032" />

       <!-- Start location core MD-->

        <meta name="geo.region" content="GB" />
        <meta name="geo.position" content="56.786111;-4.114052" />
        <meta name="ICBM" content="56.786111, -4.114052" />
        <!-- End location core MD-->


        <!-- stylesheets -->
        <link rel="stylesheet" href="css/grid.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/darkblue.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/animate.css" />
        <link rel="stylesheet" href="css/retina.css" />

        <!-- Revolution slider -->
        <link rel="stylesheet" href="rs-plugin/css/settings.css"/>
        <link rel="stylesheet" href="rs-plugin/css/theme-settings.css"/>

        <!-- prettyPhoto lightbox stylesheer -->
        <link rel="stylesheet" href="css/prettyPhoto.css" media="screen" />

        <!-- google web fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200,100' rel='stylesheet' type='text/css'>

        <!-- Icons -->
        <link rel="stylesheet" href="pixons/style.css" />
        <link rel="stylesheet" href="iconsfont/iconsfont.css" />


        <link rel="stylesheet" href="style-switcher/styleSwitcher.css"/>
        <script  src="js/jquery-1.9.1.js"></script> <!-- jQuery library -->
        <!-- jQuery library -->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

        <!--[if lt IE 9]>
            <script src="js/selectivizr-min.js"></script>
        <![endif]-->

    </head>

    <body class="homepage">
        <!-- .header-wrapper start -->
        <div id="header-wrapper" class="clearfix">
            <!-- .top-bar start -->
            <section id="top-bar-wrapper">
                <div id="top-bar" class="clearfix">
                    <ul class="contact-info">
                        <li>
                            <i class="icon-phone"></i>
                            <span>+44 785 7965 032</span>
                        </li>

                        <li>
                            <i class="icon-envelope-alt"></i>
                            <span><a href="mailto:techy@softnergy.com">techy@softnergy.com</a></span>
                        </li>
                    </ul><!-- .contact-info end -->

                    <!--- .social-links start -->
                    <ul class="social-links">
                        <li>
                            <a href="#" class="pixons-twitter-1"></a>
                        </li>

                        <li>
                            <a href="#" class="pixons-facebook-2"></a>
                        </li>

                        <li>
                            <a href="#" class="pixons-xing"></a>
                        </li>

                        <li>
                            <a href="#" class="pixons-skype"></a>
                        </li>
                    </ul><!-- .social-links end -->
                </div><!-- .top-bar end -->
            </section><!-- .top-bar-wrapper end -->

            <!-- #header start -->
            <header id="header" class="clearfix">
                <section id="logo">
                    <a href="/">
                        <img src="img/logo.png" title="Softnery Limited" alt="Software companies in Scotland"/>
                    </a>
                </section>

                <section id="nav-container">
                    <nav id="nav">
                        <ul>
                            <li id="service-menu">
                                <a href="#">Services</a>
                                <ul>
                                    <li id="mobile-menu"><a href="mobile-app-development">Mobile App  </a></li>
                                    <li id="web-menu"><a href="web-app-development">Enterprise Web App</a></li>
                                    <li id="ui-menu"><a href="UX-UI">UX/UI Design</a></li>
                                </ul>
                            </li>
                            <li id="about-menu">
                                <a href="/about">About Us</a>
                            </li>
                            <li id="contact-menu">
                                <a href="/contact">Contact</a>
                            </li>
                            <li id="career-menu">
                                <a href="/career">Career</a>
                            </li>

                        </ul>
                    </nav><!-- #nav end -->
                </section><!-- #nav-container end -->

                <!-- #dl-menu.dl-menuwrapper start -->
                <div id="dl-menu" class='dl-menuwrapper'>
                    <button class="dl-trigger">Open Menu</button>
                    <ul class="dl-menu">
                        <li>
                            <a href="#">Services</a>
                            <ul class="dl-submenu">
                                <li><a href="mobile-app-development">Mobile App  </a></li>
                                <li><a href="web-app-development">Enterprise Web App</a></li>
                                <li><a href="UX-UI">UX/UI Design</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/about">About Us</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="/career">Career</a>
                        </li>

                    </ul>

                </div>

                <!-- #search-box start -->
                <section id="search">
                    <form action="#" method="get">
                        <input class="search-submit" type="submit" />
                        <input id="m_search" name="s" type="text" placeholder="Type and hit enter..." />
                    </form>
                </section><!-- #search-box end -->
            </header><!-- .header end -->
        </div><!-- .header-wrapper end -->

        {{{body}}}

        <!-- .footer-wrapper start -->
        <section class="footer-wrapper">
            <!-- .footer start -->
            <footer id="footer">
                <!-- .container start -->
                <div class="container">
                    <!-- .row start -->
                    <div class="row">

                        <!-- animated fadeInTop -->
                        <section class="triggerAnimation animated" data-animate="fadeIn">

                            <!-- .footer-widget-container start -->
                            <ul class="grid_3 footer-widget-container">
                                <!-- .widget.widget_text start -->
                                <li class="widget widget_text clearfix">
                                    <img src="img/logo-light.png" alt="Software companies in the UK"/>

                                    <br /> <br />

                                    <p>
                                        Softnergy Limited helps large, medium-sized companies and startups to create and implement software that supplies their ad-hoc needs and brings ideas to reality.
                                    </p>

                                    <br /><br />

                                    <!-- .newsletter start -->
                                    <form class="newsletter">
                                        <input type="email" class="email" placeholder="Enter your email here...">
                                        <input type ="submit" class="submit" value="SEND">
                                    </form><!-- .newsletter end -->
                                </li><!-- .widget.widget-text end -->
                            </ul> <!-- .footer-widget-container end -->

                            <!-- .footer-widget-container start -->
                            <ul class="grid_3 footer-widget-container">


                                <!-- .widget_categories start -->
                                <li class="widget widget_categories">
                                    <h6>Quick links</h6>

                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/web-app-development">Web Development Services</a></li>
                                        <li><a href="/mobile-app-development">Mobile Development Services</a></li>
                                        <li><a href="/UX-UI">UI-UX Services</a></li>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/careers">Careers</a></li>
                                    </ul>
                                </li><!-- .widget_categories end -->
                            </ul><!-- .footer-widget-container end -->

                            <!-- .footer-widget-container start -->
                            <ul class="grid_3 footer-widget-container">

                                <!-- .widget.widget_text start -->
                                <li id="tweet-sroll-wrapper" class="widget clearfix">


                                    <div class="tweets-list-container"></div>
                                </li><!-- #tweet-sroll-wrapper .widget -->

                            </ul><!-- .footer-widget-container end -->

                            <!-- .footer-widget-container start -->
                            <ul class="grid_3 footer-widget-container">

                                <!-- .widget.widget_text start -->
                                <li class="widget widget_text">
                                    <h6>CONTACT INFO</h6>
                                    <ul class="contact-info-list">
                                        <li>
                                            <p>
                                                <i class="icon-home"></i>
                                                <span class="strong">Address: </span>
                                                219 Colinton Road, EH14 IDJ,
                                                Edinburgh, Scotland
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                <i class="icon-phone"></i>
                                                <span class="strong">Telephone: </span>
                                                +44 785 7965 032
                                            </p>
                                        </li>


                                    </ul>

                                    <br /><br />


                                </li><!-- .widget.widget_text end -->
                            </ul>
                        </section>
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </footer><!-- .footer-end -->

            <!-- .copyright-container start -->
            <div class="copyright-container">
                <!-- .container start -->
                <div class="container">
                    <!-- .row start -->
                    <div class="row">
                        <section class="grid_6">
                            <p>Copyright Softnergy 2018. All Rights Reserved.</p>
                        </section>


                    </div><!-- .row end -->
                </div><!-- .container end -->
            </div><!-- .copyright-container end -->

            <a href="#" class="scroll-up">Scroll</a>
        </section><!-- .footer-wrapper end -->

        <!-- scripts -->
        <script  src="js/jquery-1.9.1.js"></script> <!-- jQuery library -->
        <script  src="js/jquery-migrate-1.2.1.min.js"></script> <!-- jQuery migrate -->
        <script  src="js/jquery.placeholder.min.js"></script><!-- jQuery placeholder fix for old browsers -->
        <script  src="js/modernizr.custom.js"></script> <!-- jQuery modernizr -->
        <script  src="js/jquery.dlmenu.js"></script><!-- responsive navigation -->
        <script  src="js/waypoints.min.js"></script><!-- js for animating content -->
        <script  src="js/retina-1.1.0.min.js"></script><!-- retina ready script -->
        <script  src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script><!-- revolution slider -->
        <script  src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script><!-- revolution slider -->
        <script  src="js/jquery.stellar.min.js"></script><!-- parallax scrolling -->
        <script  src="js/jquery.tweetscroll.js"></script> <!-- jQuery tweetscroll plugin -->

        <script  src="js/jquery.carouFredSel-6.2.1-packed.js"></script><!-- CarouFredSel carousel plugin -->
        <script  src="js/jquery.countTo.js"></script><!-- number count animation -->
        <script  src="js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto lightbox -->
        <script  src="style-switcher/styleSwitcher.js"></script>
		<script  src="js/nicescroll.min.js"></script> <!-- Nice scroll Plugin -->
        <script  src="js/include.js" ></script> <!-- jQuery custom options -->

        <script>
            /* <![CDATA[ */
            jQuery(document).ready(function($) {
                'use strict';

                //REVOLUTION SLIDE
                var revapi;
                revapi = jQuery('.tp-banner').revolution(
                        {
                            delay: 5000,
                            startwidth: 1170,
                            startheight: 500,
                            hideThumbs: 10,
                            fullWidth: "on",
                            forceFullWidth: "on",
                            navigationType: "none" // bullet, thumb, none
                        });

                $('.numbers-counter').waypoint(function() {
                    // NUMBERS COUNTER START
                    $('.numbers').data('countToOptions', {
                        formatter: function(value, options) {
                            return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                        }
                    });
                    // start timer
                    $('.timer').each(count);

                    function count(options) {
                        var $this = $(this);
                        options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                        $this.countTo(options);
                    } // NUMBERS COUNTER END
                },
                        {offset: '70%'}
                );

                // PRETTYPHOTO LIGHTBOX START
                if(jQuery().prettyPhoto) {
					piPrettyphoto();
				}

				function piPrettyphoto(){
					$("a[data-gal^='prettyPhoto']").prettyPhoto({
						social_tools: false,
						hook: 'data-gal'
					});
				}

                //PORTFOLIO CAROUSEL
                //	Responsive layout, resizing the items
                $('#portfolio-carousel').carouFredSel({
                    responsive: true,
                    width: '100%',
                    height: '100%',
                    auto: false,
                    scroll: 1,
                    prev: '.c_prev_2',
                    next: '.c_next_2',
                    items: {
                        width: 400,
                        height: '100%',
                        visible: {
                            min: 1,
                            max: 4
                        }
                    }

                });

                //  Testimonial carousel Responsive layout, resizing the items
                $('#services-carousel').carouFredSel({
                    responsive: true,
                    width: '100%',
                    auto: false,
                    scroll: 1,
                    prev: '.c_prev',
                    next: '.c_next',
                    swipe: {
                        onMouse: true,
                        onTouch: true
                    },
                    items: {
                        width: 370,
                        height: 'auto',
                        visible: {
                            min: 1,
                            max: 3
                        }
                    }
                });

                //  Responsive layout, resizing the items
                $('#testimonial-carousel').carouFredSel({
                    responsive: true,
                    width: '100%',
                    auto: true,
                    scroll: 1,
                    swipe: {
                        onMouse: true,
                        onTouch: true
                    },
                    items: {
                        width: 370,
                        height: 'variable',
                        visible: {
                            min: 1,
                            max: 1
                        }
                    }
                });


            });

            /* ]]> */
        </script>
    </body>
</html>
