
   <script  src="js/jquery.nivo.slider.js"></script><!-- nivo slider -->




        <script  src="js/waypoints.min.js"></script><!-- js for animating content -->


   <!-- Nivo slider stylesheer -->
  <link rel="stylesheet" href="css/nivo-slider.css"/>
<!-- #page-title start -->
        <section id="page-title" class="page-title-1" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="grid_8">
                        <div class="pt-title triggerAnimation animated" data-animate="fadeInLeft">
                            <h1>Softnergy Limited helps large, medium-sized companies and startups to create and implement software that supplies their ad-hoc needs and brings ideas to reality.</h1>
                        </div>
                    </div><!-- .grid_8 end -->

                    <!-- .grid_4 start -->
                    <div class="grid_4">
                        <div class="pt-image-container">
                            <div class="pt-image triggerAnimation animated" data-animate="fadeInRight">
                                <img class="float-right" src="img/page-titles/about-page-title.png" alt="Affordable software developer in Edinburgh" />
                            </div>
                        </div>
                    </div><!-- .grid_4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section><!-- #page-title end -->

        <!-- .page-content start -->
        <section class="page-content">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="grid_6">
                        <div class="triggerAnimation animated" data-animate="fadeInLeft">
                            <section id="slider" class="nivoSlider">
                                <img src="img/pictures/about-slide-1.jpg" alt="Affordable software developer in UK"/>
                                <img src="img/pictures/about-slide-2.jpg" alt="Affordable software developer in UK"/>
                                <img src="img/pictures/about-slide-3.jpg" alt="Affordable software developer in UK"/>
                            </section><!-- .nivoSlider end -->
                        </div><!-- .triggerAnimation.animated end -->
                    </div><!-- .grid_6 end -->

                    <!-- .grid_6 start -->
                    <article class="grid_6">
                        <div class="triggerAnimation animated" data-animate="fadeInRight">
                            <section class="heading-bordered">
                                <h3><b>Intelligent</b> &#38; innovative</h3>
                            </section><!-- .heading-bordered end -->

                            <p>
                                We work with the customer so as to determine the proper solution for their problem. We build a software, and then implement it while adhering to our collaboratively developed strategy, which seeks to extend desired value and ROI, as well as ready our client with the full set of tools to win more clients and commerce.

                                <br /><br />

                                We understand technology as well as business. We develop bespoke mobile applications on iOS and Android, in addition to web and software applications for your needs. Regardless of what medium we are working in though, our priorities rest in full security and quality assurance by default.
                            </p>

                            <br /><br />

                            <blockquote>
                                <p>
                                    Our mission is to deliver oustanding applications and we are ever willing to provide excellent long-term business relationship

                                    <br /><br />

                                    Our vision is to create something innovative that will solve the world's problem. We are currently researching on the use of robotics and artificial intelligence in industries.
                                </p>
                            </blockquote>
                        </div><!-- .triggerAnimation.animated end -->
                    </article><!-- .grid_6 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <!-- grid_8 start -->
                    <div class="grid_8">
                        <div class="triggerAnimation animated" data-animate="fadeInDown">
                            <section class="heading-bordered">
                                <h3><b>Services</b> we offer</h3>
                            </section><!-- .heading-bordered end -->

                            <ul class="tabs">
                                <li class="active">
                                    <a href="#tab1">Mobile development</a>
                                </li>
                                <li class="">
                                    <a href="#tab2">Web development</a>
                                </li>
                                <li>
                                    <a href="#tab3">UI-UX</a>
                                </li>
                                <li>
                                    <a href="#tab4">Quality assurance</a>
                                </li>
                            </ul><!-- .tabs end -->

                            <!-- .tabs-content-wrap start -->
                            <section class="tab-content-wrap">
                                <!-- #tab1 content start -->
                                <div id="tab1" class="tab-content">
                                    <p>
                                        <img src="img/pictures/services-devices.png" class="float-left" alt="Affordable software developer in UK"/>
                                      We build native applications that run on Android, iOS and Windows operating systems using platform-specific programming languages like C-Sharp, Java, Javascript.


                                    </p>

                                    <br />


                                </div><!-- #tab1 content end -->

                                <!-- #tab1 content start -->
                                <div id="tab2" class="tab-content">
                                    <p>
                                        <img src="img/pictures/services-devices.png" class="float-right" alt="Affordable software developer in Scotland"/>
                                      We build scalable, responsive and user-friendly web applications and websites leveraging the most robust technologies in the industry to help you boost your business
                                    </p>
                                </div><!-- #tab2 content end -->
                                <!-- #tab4 content start -->
                                <div id="tab3" class="tab-content">
                                    <p>
                                        <img src="img/pictures/services-devices.png" class="float-left" alt="Affordable software developer in Edinburgh"/>
                                  We create web pages that are easy to navigate on the screen of any size and device. Our expert team is ready to offer flexible features that are a witness to increase your company’s business graph. We deliver highly performant and responsive UI-UX service that predicts the future trends with giving a better experience.
                                    </p>
                                </div><!-- #tab3 content end -->

                                <!-- #tab4 content start -->
                                <div id="tab4" class="tab-content">
                                    <p>
                                        <img src="img/pictures/services-devices.png" class="float-left" alt="Software companies in the UK"/>
                                    We draw up an elaborate approach to testing your software that covers every single part of the product and is meant to ensure its adequate quality
                                    </p>
                                </div><!-- #tab3 content end -->
                            </section><!-- .tab-content-wrap end -->
                        </div><!-- .triggernAnimation.animated end -->
                    </div><!-- .grid_8 end -->

                    <!-- .grid_4 start -->
                    <article class="grid_4">
                        <div class="triggerAnimation animated" data-animate='fadeInUp'>
                            <section class="heading-bordered">
                                <h3>Our <b>skills</b></h3>
                            </section><!-- .heading-bordered end -->

                            <!-- .skills-bar -->
                            <article class="skills-bar">
                                <ul class="skills">
                                    <li>

                                        <span class="percentage-90"></span>
                                        <em>Mobile Application Development 90%</em>
                                    </li>

                                    <li>

                                        <span class="percentage-90"></span>
                                        <em>Web Application Development 90%</em>
                                    </li>

                                    <li>

                                        <span class="percentage-90"></span>
                                        <em>UI-UX 90%</em>
                                    </li>

                                    <li>

                                        <span class="percentage-80"></span>
                                        <em>Marketing 80%</em>
                                    </li>


                                </ul>
                            </article><!-- .skills-bar -->
                        </div><!-- .triggerAnimation.animated end -->
                    </article><!-- .grid_4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section><!-- .page-content end -->

        <!-- .page-content start -->
        <section class="page-content parallax parallax-1" data-stellar-background-ratio="0.5">

            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="triggerAnimation animated" data-animate="fadeInUp">
                    </div><!-- .triggerAnimation.animated end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section><!-- .page-content end -->
        <script>
          jQuery(document).ready(function ($) {

            //var homeMenu = $("#home_menu");
            var aboutMenu = $("#about-menu");
            var careerMenu = $("#career-menu");
            var mobileMenu = $("#mobile-menu");
            var webMenu = $("#web-menu");
            var uiMenu = $("#ui-menu");
            var contactMenu = $("#contact-menu");
            var serviceMenu = $("#service-menu");

            serviceMenu.removeClass("current-menu-item");
            aboutMenu.addClass("current-menu-item");
            webMenu.removeClass("current-menu-item");
            uiMenu.removeClass("current-menu-item");
            mobileMenu.removeClass("current-menu-item");
            careerMenu.removeClass("current-menu-item");
            contactMenu.removeClass("current-menu-item");
          })

        </script>
        <script>
           /* <![CDATA[ */
           jQuery(document).ready(function($) {
               'use strict';

               //NIVO SLIDER
               $('#slider').nivoSlider();

               $('.skills-bar').waypoint(function() {
                   $('.skills li span').addClass('expand');
               },
                       {offset: '70%'}
               );

               //  Responsive layout, resizing the items
               $('#client-carousel').carouFredSel({
                   responsive: true,
                   width: '100%',
                   auto: false,
                   scroll: 1,
                   swipe: {
                       onMouse: true,
                       onTouch: true
                   },
                   prev: '.c_prev',
                   next: '.c_next',
                   items: {
                       width: 170,
                       height: '100%',
                       visible: {
                           min: 1,
                           max: 6
                       }
                   }
               });
           });

           /* ]]> */
       </script>
