  <script  src="js/jquery-1.9.1.js"></script> <!-- jQuery library -->
<!-- #page-title start -->
      <section id="page-title" class="page-title-1" data-stellar-background-ratio="0.5">
          <div class="container">
              <div class="row">
                  <div class="grid_8">
                      <div class="pt-title triggerAnimation animated" data-animate="fadeInLeft">
                          <h1>
                              We are always searching for <br />
                              <span class="strong">Talented &#38; Creatve</span> individuals
                          </h1>
                      </div>
                  </div><!-- .grid_8 end -->

                  <!-- .grid_4 start -->
                  <div class="grid_4">
                      <div class="pt-image-container">
                          <div class="pt-image triggerAnimation animated" data-animate="fadeInUp">
                              <img class="float-right" src="img/page-titles/hiring-page-title.png" alt="hiring page title image" />
                          </div>
                      </div>
                  </div><!-- .grid_4 end -->
              </div><!-- .row end -->

              <div class="row">
                  <div class="grid_8">
                      <div class="breadcrumbs triggerAnimation animated" data-animate="fadeInUp">
                          <ul>
                              <li>
                                  <span>You are here:</span>
                              </li>

                              <li>
                                  <a href="hiring.html">Pages / </a>
                              </li>

                              <li>
                                  <span class="active">Hiring</span>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div><!-- .container end -->
      </section><!-- #page-title end -->

      <!-- .page-content start -->
      <section class="page-content">
          <!-- .container start -->
          <div class="container">
              <!-- .row start -->
              <div class="row">
                  <!-- .grid_6 start -->
                  <section class='grid_6'>
                      <img src='img/pictures/hiring-team.jpg' class='triggerAnimation animated' data-animate='fadeInLeft' alt='we are hiring'/>
                  </section><!-- .grid_6 end -->

                  <article class='grid_6'>
                      <div class="triggerAnimation animated" data-animate='fadeInRight'>
                          <section class="heading-bordered clearfix">
                              <h3>What we look for in a <b>Candidate</b></h3>
                          </section><!-- .heading-bordered end -->

                          <p>
                            Softnergy Limited helps large, medium-sized companies and startups to create and implement software that supplies their ad-hoc needs and brings ideas to reality.

                              <br /><br />

                              So here are some things that we’re looking for
                              in a designer or developer. We need someone who
                              is passionate as we are about the work we do.
                          </p>

                          <br />

                          <ul class="icons-list icon-checkmark-circle-list colored">
                              <li><p>Creative approach to problem solving</p></li>
                              <li><p>Able to Identify trends in web design and development industry</p></li>
                              <li><p>Communicate effectively with both team members and clients</p></li>
                              <li><p>Passion for improving user experience by bringing new ideas to the table</p></li>
                              <li><p>Not to be afraid of expressing your ideas. Just be yourself.</p></li>
                          </ul>
                      </div><!-- .triggerAnimation.animated end -->
                  </article><!-- .grid_6 end -->
              </div><!-- .row end -->

              <!-- .row start -->
              <div class="row">
                  <!-- .grid_8 start -->
                  <article class="grid_8">
                      <div class="triggerAnimation animated" data-animate='fadeInUp'>
                          <section class="heading-bordered clearfix">
                              <h3>Opening <b>positions</b></h3>
                          </section><!-- .heading-bordered end -->

                          <section class="accordion">
                              <div class="title active">
                                  <a href="#">Junior Front End Developer (1 executives)</a>
                              </div>

                              <div class="content">
                                  <p>
                                      We’re looking for a talented and
                                      self motivated Junior Front End
                                      Developer to join our team.
                                       You’ll be working with our team to help
                                        make our clients’ dream websites a reality.
                                  </p><br/>
                                  <p>You’ll be involved in the process right from the start,
                                     from helping build specifications and quotes for ideas
                                     to building and testing the new features alongside our
                                   back-end developers.</p>

                                  <br />

                                  <ul class="icons-list icon-checkmark-circle-list colored">
                                      <li><p>Front end frameworks like Bootstrap.</p></li>
                                      <li><p>HTML, CSS, SASS, Javascript.</p></li>
                                      <li><p>Fluency in Adobe Photoshop and Illustrator.</p></li>
                                      <li><p>Passion for improving user experience by bringing new ideas to the table</p></li>
                                      <li><p>Not to be afraid of expressing your ideas. Just be yourself.</p></li>
                                  </ul>
                              </div>

                              <div class="title">
                                  <a href="#">Senior Web Developer (1 executive)</a>
                              </div>

                              <div class="content">
                                  <p>
                                      We are looking for brilliant and
                                      talented developers to join our
                                      technical team and work on our really
                                      cool products using the latest Microsoft
                                      technology. If you have strong background
                                      in web programming and an appreciation of
                                      design, usability and interactivity then please get in touch.
                                  </p>

                                  <br />

                                  <ul class="icons-list icon-checkmark-circle-list colored">
                                      <li><p>Excellent web programming skills</p></li>
                                      <li><p>Experience in developing web-based applications using .NET 4.7 C#, ASP.net, ASP.net MVC and ASP.net Core.</p></li>
                                      <li><p>A good grounding in the use of JavaScript libraries including jQuery, Knockout and Modernizer.</p></li>
                                      <li><p>General database experience in SQL Server, use of stored procs etc.</p></li>
                                      <li><p>Experience of working with integrated solutions.</p></li>
                                      <li><p>A good appreciation of design, usability and interactivity.</p></li>
                                      <li><p>A commitment to keep up to date with developments in technology.</p></li>
                                  </ul>
                              </div>

                          </section><!-- .accordion end -->
                      </div><!-- .triggerAnimation.animated end -->
                  </article><!-- .grid_8 end -->

                  <!-- .grid_4 start -->
                  <article class="grid_4">
                      <div class="triggerAnimation animated" data-animate='fadeInDown'>
                        <!-- success box start -->
                        <section style="display: none" class="success-box">
                            <p>Application saved successfully. </p>
                        </section><!-- success box end -->

                        <!-- warning box start -->
                        <section style="display: none" class="warning-box">
                            <p>All fields are required!</p>
                        </section><!-- warning box end -->

                          <section class="heading-bordered clearfix">
                              <h3>Apply for <b>Position</b></h3>
                          </section><!-- .heading-bordered end -->

                          <!-- wpcf7 start -->
                          <form enctype="multipart/form-data" action="/career" id="data" method="post"  class="wpcf7">
                              <fieldset>
                                  <label><span class="text-red">*</span> Full name:</label>
                                  <input name="name" type="text" class="wpcf7-text" id="contact-name"/>
                              </fieldset>

                              <fieldset>
                                  <label><span class="text-red">*</span> Email:</label>
                                  <input type="email" name="email" id="contact-email" class="wpcf7-text" />
                              </fieldset>

                              <fieldset>
                                  <label>Link to your LinkedIn (Optional)</label>
                                  <input type="text" name="linkedin" class="wpcf7-text" id="linkedin"/>
                              </fieldset>

                              <fieldset>
                                  <label><span class="text-red">*</span> Position you are applying for:</label>
                                  <select name="position" class="wpcf7-select" id='position'>
                                      <option value="Junior front end developer">Junior front end developer</option>
                                      <option value='Senior web developer'>Senior web developer</option>
                                      <!-- <option value="position-3">Senior back end developer</option>
                                      <option value="position-4">Creative art director </option> -->
                                  </select>
                              </fieldset>
                              <fieldset>
                                  <label>Upload your CV</label>
                                  <input type="file" id="file" name="file" class="wpcf7-text" id="portfolio-link"/>
                              </fieldset>

                              <fieldset>
                                  <label><span class="text-red">*</span> Message:</label>
                                  <textarea rows="5" class="wpcf7-textarea" id="contact-message"></textarea>
                              </fieldset>

                              <input type="button" class="wpcf7-submit" value="Submit" />
                          </form><!-- wpcf7 end -->
                      </div><!-- .triggerAnimation.animated end -->
                  </article><!-- .grid_4 end -->
              </div><!-- .row end -->
          </div><!-- .container end -->
      </section><!-- .page-content end -->
      <script>
      $(function(){
        var infoBox = $(".success-box");
        var warningBox = $(".warning-box");

        $(".wpcf7-submit").click(function(e) {

          var form = $("#data");
          var formData = new FormData(form[0]);

             //for(var i=0; i<formData.length; i++){
               if(formData.get("email") === "" || formData.get("name")=== "" || formData.get("linkedin")=== "" || formData.get("message")=== "" || $("#file").val() ==="")
               {
                 warningBox.show();
               }
               else{
                 $.ajax({
                    url: "/career",
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                       infoBox.show();
                       warningBox.hide();
                    },
                    error:function(err){
                      infoBox.hide();
                      warningBox.hide();
                      alert("Your application could not be submitted at the moment!")
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
               }

        });
      })

      </script>
      <script>
        jQuery(document).ready(function ($) {

          //var homeMenu = $("#home_menu");
          var aboutMenu = $("#about-menu");
          var careerMenu = $("#career-menu");
          var mobileMenu = $("#mobile-menu");
          var webMenu = $("#web-menu");
          var uiMenu = $("#ui-menu");
          var contactMenu = $("#contact-menu");
          var serviceMenu = $("#service-menu");

          serviceMenu.removeClass("current-menu-item");
          aboutMenu.removeClass("current-menu-item");
          webMenu.removeClass("current-menu-item");
          uiMenu.removeClass("current-menu-item");
          mobileMenu.removeClass("current-menu-item");
          careerMenu.addClass("current-menu-item");
          contactMenu.removeClass("current-menu-item");
        })

      </script>
