
<!-- #page-title start -->
        <section id="page-title" class="page-title-1" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row">
                        <div class="grid_8">
                            <div class="pt-title triggerAnimation animated" data-animate="fadeInLeft">
                                <h1>Our <span class="strong">Professional</span> team is here for<br />
                                    you 24/7. Don’t hesitate to contact us.</h1>
                            </div>
                        </div><!-- .grid_6 end -->

                        <!-- .grid_6 start -->
                        <div class="grid_4">
                            <div class="pt-image-container">
                                <div class="pt-image triggerAnimation animated" data-animate="fadeInRight">
                                    <img src="img/page-titles/contact-page-title.png" alt="contact us" />
                                </div>
                            </div>
                        </div>
                    </div><!-- .row end -->

                </div><!-- .container end -->
        </section><!-- #page-title end -->

        <!-- .page-content start -->
        <section class="page-content">
            <!-- .container start -->
            <div class="container">


                <!-- .row start -->
                <div class="row">
                    <!-- .grid_6 start -->
                    <article class="grid_6">
                        <div class="triggerAnimation animated" data-animate="fadeInLeft">
                            <section class="heading-bordered">
                                <h3>Some Information</h3>
                            </section><!-- .heading-bordered end -->

                            <p>
                                Our professional team is here for you 24/7, so
                                please don’t hesitate to contact us if you have any
                                questions, problems or maybe suggestion. We would
                                love to hear from you.

                                <br /><br />

                                You can reach us on email address by filling out
                                the form on the right, or meet with us in person on
                                 the addresses below.
                            </p>

                            <br /><br />

                            <ul class="contact-info-list">
                                <li>
                                    <p>
                                        <i class="icon-home"></i>
                                        <span class="strong">Address: </span>
                                        219 Colinton Road, EH14 IDJ,
                                        Edinburgh, Scotland
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        <i class="icon-phone"></i>
                                        <span class="strong">Telephone: </span>
                                        +44 785 7965 032
                                    </p>
                                </li>

                                <!-- <li>
                                    <p>
                                        <i class="icon-phone"></i>
                                        <span class="strong">Fax: </span>
                                        +41 589 7843
                                    </p>
                                </li> -->
                            </ul>
                        </div><!-- .animated .fadeInRight -->
                    </article><!-- .grid_6 end -->

                    <!-- .grid_6 start -->
                    <article class="grid_6">
                        <div class="triggerAnimation animated" data-animate="fadeInRight">
                          <!-- success box start -->
                          <section style="display: none" class="success-box">
                              <p>Your enquiry was successful, we will get back to you soon. Thank you! </p>
                          </section><!-- success box end -->

                          <!-- warning box start -->
                          <section style="display: none" class="warning-box">
                              <p>All fields are required!</p>
                          </section><!-- warning box end -->
                            <section class="heading-bordered">
                                <h3>Send us a message</h3>
                            </section><!-- .heading-bordered end -->

                            <!-- wpcf7 start -->
                            <form class="wpcf7">
                                <fieldset>
                                    <label><span class="text-color">*</span> Name:</label>
                                    <input type="text" class="wpcf7-text" id="contact-name"/>
                                </fieldset>

                                <fieldset>
                                    <label><span class="text-color">*</span> Email:</label>
                                    <input type="email" name="email" id="contact-email" class="wpcf7-text" />
                                </fieldset>

                                <fieldset>
                                    <label><span class="text-color">*</span> Message:</label>
                                    <textarea rows="5" class="wpcf7-textarea" id="contact-message"></textarea>
                                </fieldset>

                                 <img id="loader" style="height:50px; width:50px" src="/loader.gif"/>
                                <input type="submit" class="wpcf7-submit" value="Submit" />

                            </form><!-- wpcf7 end -->
                        </div><!-- .animated.fadeInRight end -->
                    </article><!-- .grid_6 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section><!-- .page-content end -->

        <script  src="js/jquery-1.9.1.js"></script> <!-- jQuery library -->
       <script  src="js/jquery-migrate-1.2.1.min.js"></script> <!-- jQuery migrate -->
       <script  src="js/jquery.placeholder.min.js"></script><!-- jQuery placeholder fix for old browsers -->



       <script>
           /* <![CDATA[ */
           jQuery(document).ready(function($) {
               'use strict';
               var infoBox = $(".success-box");
               var warningBox = $(".warning-box");
               // CONTACT FORM AJAX SUBMIT START
               let loader = $("#loader");
               loader.hide();
               $('.wpcf7 .wpcf7-submit').on('click', function(event) {
                   event.preventDefault();
                   loader.show();
                   var name = $('#contact-name').val();
                   var email = $('#contact-email').val();
                   var message = $('#contact-message').val();
                   if(name ==="" && email==="" && message === "")
                   {
                     infoBox.hide();
                     warningBox.show();
                     loader.hide();
                   }
                   else{
                     var form_data = new Array({'name': name, 'email': email, 'message': message});
                     $.ajax({
                         type: 'POST',
                         url: "/contact",
                         data: {name:name,email:email,message:message},
                     }).done(function(data) {
                       infoBox.show();
                       warningBox.hide();
                       loader.hide();
                     });
                   }

               }); // CONTACT FORM AJAX SUBMIT END
           });

           /* ]]> */
       </script>
       <script>
         jQuery(document).ready(function ($) {

           //var homeMenu = $("#home_menu");
           var aboutMenu = $("#about-menu");
           var careerMenu = $("#career-menu");
           var mobileMenu = $("#mobile-menu");
           var webMenu = $("#web-menu");
           var uiMenu = $("#ui-menu");
           var contactMenu = $("#contact-menu");
           var serviceMenu = $("#service-menu");

           serviceMenu.removeClass("current-menu-item");
           aboutMenu.removeClass("current-menu-item");
           webMenu.removeClass("current-menu-item");
           uiMenu.removeClass("current-menu-item");
           mobileMenu.removeClass("current-menu-item");
           careerMenu.removeClass("current-menu-item");
           contactMenu.addClass("current-menu-item");
         })

       </script>
