<!-- .tp-wrapper start -->
<script  src="js/jquery-1.9.1.js"></script> <!-- jQuery library -->
<script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<div class="tp-wrapper no-bottom-margin">
    <!-- .tp-banner-container start -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- slide 2 start -->
                <li data-transition="fade" data-slotamount="15" data-masterspeed="1500">
                    <!-- main image -->
                    <img src="img/slider/slide-1-1.jpg" alt="Software companies in Edinburgh" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                    <!-- layer 1 -->
                    <div class="tp-caption regular lft"
                         data-x="220"
                         data-y="55"
                         data-speed="600"
                         data-start="1000"
                         data-easing="Back.easeOut"
                         data-endspeed="300">We design mobile <b>applications</b> for <b>major </b> platforms.
                    </div>

                    <!-- layer 2 -->
                    <div class="tp-caption regular sfl"
                         data-x="200"
                         data-y="120"
                         data-speed="600"
                         data-start="1500"
                         data-easing="Back.easeOut"
                         data-endspeed="300"><img src='img/slider/slide-1-2.png' alt='Website developer in Edinburgh'/>
                    </div>

                    <!-- layer 3 -->
                    <div class="tp-caption list-right sfl"
                         data-x="160"
                         data-y="180"
                         data-speed="600"
                         data-start="2000"
                         data-easing="Back.easeOut"
                         data-endspeed="500"><p>Clean professional code</p>
                    </div>

                    <!-- layer 4 -->
                    <div class="tp-caption list-right sfl"
                         data-x="70"
                         data-y="240"
                         data-speed="600"
                         data-start="2300"
                         data-easing="Back.easeOut"
                         data-endspeed="500"><p>Beautiful user-interface</p>
                    </div>

                    <!-- layer 3 -->
                    <div class="tp-caption list-right sfl"
                         data-x="60"
                         data-y="300"
                         data-speed="600"
                         data-start="2600"
                         data-easing="Back.easeOut"
                         data-endspeed="500"><p>Highly scalable applications</p>
                    </div>

                    <!-- layer 4 -->
                    <div class="tp-caption list-left sfr"
                         data-x="900"
                         data-y="180"
                         data-speed="600"
                         data-start="2900"
                         data-easing="Back.easeOut"
                         data-endspeed="500"><p>Android applications</p>
                    </div>

                    <!-- layer 5 -->
                    <div class="tp-caption list-left sfr"
                         data-x="870"
                         data-y="240"
                         data-speed="600"
                         data-start="3200"
                         data-easing="Back.easeOut"
                         data-endspeed="500"><p>iOS applications</p>
                    </div>

                    <!-- layer 6 -->
                    <div class="tp-caption list-left sfr"
                         data-x="840"
                         data-y="300"
                         data-speed="600"
                         data-start="3500"
                         data-easing="Back.easeOut"
                         data-endspeed="500"><p>Windows applications</p>
                    </div>
                </li>

                <!-- slide 2 start -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- main image -->
                    <img src="img/slider/slide-2-1.jpg" alt="web designer in Scotland" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                    <!-- layer 1 -->
                    <div class="tp-caption regular lft"
                         data-x="0"
                         data-y="80"
                         data-speed="600"
                         data-start="1000"
                         data-easing="Back.easeOut"
                         data-endspeed="300"><b>Enterprise</b> software development <b>team.
                    </div>

                    <!-- layer 2 -->
                    <div class="tp-caption regular small sfl"
                         data-x="405"
                         data-y="130"
                         data-speed="600"
                         data-start="1500"
                         data-easing="Back.easeOut"
                         data-endspeed="300">
                    </div>

                    <!-- layer 3 -->
                    <div class="tp-caption sfr"
                         data-x="520"
                         data-y="45"
                         data-speed="600"
                         data-start="1500"
                         data-easing="Back.easeOut"
                         data-endspeed="300"><img src='img/slider/slide-2-2.png' alt='Softnergy Limited'/>
                    </div>

                    <!-- layer 4 -->
                    <div class="tp-caption list-left sfl"
                         data-x="0"
                         data-y="170"
                         data-speed="600"
                         data-start="2200"
                         data-easing="Back.easeOut"
                         data-endspeed="300"><p>Bespoke software development</p>
                    </div>

                    <!-- layer 5 -->
                    <div class="tp-caption list-left sfl"
                         data-x="0"
                         data-y="230"
                         data-speed="600"
                         data-start="2500"
                         data-easing="Back.easeOut"
                         data-endspeed="300"><p>Web application development</p>
                    </div>

                    <!-- layer 6 -->
                    <div class="tp-caption list-left sfl"
                         data-x="0"
                         data-y="290"
                         data-speed="600"
                         data-start="2700"
                         data-easing="Back.easeOut"
                         data-endspeed="300"><p>Desktop applications</p>
                    </div>
                </li>

                <!-- slide 3 start -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- main image -->
                    <img src="img/slider/slide-3-1.jpg" alt="Mobile software developer in Edinburgh" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />


                </li>
            </ul>
        </div><!-- .tp-banner end -->
    </div><!-- .tp-banner end -->
</div><!-- .tp-wrapper end -->

<!-- .page-content start -->
<section class="page-content background-black">
    <!-- .container start -->
    <div class="container">
        <!-- .row start -->
        <div class="row">
            <article class="grid_12">
                <div class="triggerAnimation animated" data-animate="fadeInUp">
                    <div class="note no-bottom-margin">
                        <h4>Welcome to <b>Softnergy Limited</b>. We deliver business solutions following the latest technology trends and an industry-focused approach.</h4>
                        <button data-toggle="modal" data-target="#exampleModal" class='btn-medium empty white' >TELL US ABOUT YOUR PROJECT</button>
                    </div>
                </div><!-- .triggerAnimation.animated end -->
            </article><!-- .grid_12 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</section><!-- .page-content end -->

<!-- .page-content start -->
<section class="page-content parallax parallax-1" data-stellar-background-ratio="0.5">
    <!-- .container start -->
    <div class="container">
        <!-- .row start -->
        <div class="row">
            <article class="grid_12">
                <div class="triggerAnimation animated" data-animate="fadeInLeft">
                    <ul id='services-carousel' class='carousel-li'>
                        <li class="service-box-1">
                            <div class="icon icon-screen"></div>

                            <a href='#'>
                                <h5>Mobile &#38; development</h5>
                            </a>

                            <p>
                                We build native applications that run on Android, iOS and Windows operating systems using platform-specific programming languages like C-Sharp, Java, Javascript.
                            </p>
                        </li>

                        <li class="service-box-1">
                            <div class="icon icon-leaf"></div>

                            <a href='#'>
                                <h5>Web  &#38; Development</h5>
                            </a>

                            <p>
                                We build scalable, responsive and user-friendly web applications and websites leveraging the most robust technologies in the industry to help you boost your business
                            </p>
                        </li>

                        <li class="service-box-1">
                            <div class="icon icon-heart-2"></div>

                            <a href='#'>
                                <h5>UI·UX Design Services</h5>
                            </a>

                            <p>
                                Our design team uses UI·UX best practices to deliver a state-of-the-art product that will solve business objectives and satisfy user needs
                            </p>
                        </li>

                        <li class="service-box-1">
                            <div class="icon icon-eye-open"></div>

                            <a href='#'>
                                <h5>Quality Assurance Services</h5>
                            </a>

                            <p>
                                We draw up an elaborate approach to testing your software that covers every single part of the product and is meant to ensure its adequate quality
                            </p>
                        </li>


                    </ul><!-- #services-carousel end -->

                    <div class="clearfix"></div>
                    <ul class="carousel-nav">
                        <li>
                            <a class="c_prev" href="#"></a>
                        </li>
                        <li>
                            <a class="c_next" href="#"></a>
                        </li>
                    </ul>
                </div><!-- .triggerAnimation animated end -->
            </article><!-- .grid_12 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</section><!-- .page-content end -->

<section class='page-content'>
    <div class="container">
        <div class="row">
            <article class="grid_3">
                <img class="triggerAnimation animated" src="img/pictures/woman-ceo.png" alt="Software development company in Edinburgh" data-animate="fadeInLeft"/>
            </article>

            <article class="grid_5">
                <div class="triggerAnimation animated" data-animate="fadeInLeft">
                    <!-- .heading-bordered start -->
                    <section class="heading-bordered">
                        <h3>What we <b>Offer</b></h3>
                    </section><!-- .heading-bordered end -->

                    <ul class="services-overview">
                        <li>
                            <h5>Enterprise Software Development</h5>
                            <p>
Build bespoke enterprise software, ensure reliable software development and integration, modernise your legacy system.
                            </p>
                        </li>

                        <li>
                            <h5>Mobile App Development</h5>
                            <p>
                                Build an interactive mobile application that fits your industry and brand within a shorter time frame.
                            </p>
                        </li>

                        <li>
                            <h5>Dedicated Development Team</h5>
                            <p>
                                Hire a talented software development team with exceptional skills.
                            </p>
                        </li>
                    </ul>
                </div><!-- .triggeranimation.animated end -->
            </article><!-- .grid_6 -->

            <article class='grid_3'>
                <div class="triggerAnimation animated" data-animate='fadeInRight'>
                    <!-- .heading-bordered start -->
                    <section class="heading-bordered">
                        <h3>Some <b>stats</b></h3>
                    </section><!-- .heading-bordered end -->

                    <ul class='numbers-counter'>
                        <li>
                            <span class='timer number' data-to='10' data-speed='2000'>10</span>
                            <p>Projects</p>
                        </li>

                        <li>
                            <span class='timer number' data-to='15' data-speed='2000'>15</span>
                            <p>Clients</p>
                        </li>

                        <li>
                            <span class='timer number' data-to='2' data-speed='2'>879</span>
                            <p>Partners</p>
                        </li>

                        <li>
                            <span class='timer number' data-to='2' data-speed='2000'>2</span>
                            <p>Countries</p>
                        </li>
                    </ul>
                </div><!-- .triggerAnimation.animated end -->
            </article><!-- .grid_3 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</section><!-- .page-content end -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- warning box start -->

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">Tell Us About Your Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/career" id="data" method="post"  class="wpcf7">
            <fieldset>
                <label><span class="text-red">*</span> Name:</label>
                <input name="name" placeholder="Your name" type="text" class="form-control" id="name"/>
            </fieldset>

            <fieldset>
                <label><span class="text-red">*</span> Email:</label>
                <input placeholder="Your email address" type="email" name="email" id="email" class="form-control" />
            </fieldset>

            <fieldset>
                <label>Phone</label>
                <input type="text" placeholder="Your phone" name="phone" class="form-control" id="phone"/>
            </fieldset>
            <fieldset>
                <label><span class="text-red">*</span> Project Details:</label>
                <textarea rows="4" cols="50" placeholder="Project details" rows="5" name="message" class="form-control" id="message"></textarea>
            </fieldset>


        </form><!-- wpcf7 end -->
        <!-- success box start -->
        <section style="display: none" class="success-box">
            <p>Application saved successfully. </p>
        </section><!-- success box end -->
        <section style="display: none" class="warning-box">
            <p>All fields are required!</p>
        </section><!-- warning box end -->
      </div>
      <div class="modal-footer">
        <img id="loader" style="height:50px; width:50px" src="/loader.gif"/>
        <button type="button" class="btn btn-primary wpcf7-submit">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<script>
  jQuery(document).ready(function ($) {

    //var homeMenu = $("#home_menu");
    var aboutMenu = $("#about-menu");
    var careerMenu = $("#career-menu");
    var mobileMenu = $("#mobile-menu");
    var webMenu = $("#web-menu");
    var uiMenu = $("#ui-menu");
    var contactMenu = $("#contact-menu");

    var serviceMenu = $("#service-menu");

    serviceMenu.removeClass("current-menu-item");
    aboutMenu.removeClass("current-menu-item");
    webMenu.removeClass("current-menu-item");
    uiMenu.removeClass("current-menu-item");
    mobileMenu.removeClass("current-menu-item");
    careerMenu.removeClass("current-menu-item");
    contactMenu.removeClass("current-menu-item");
  })

</script>
<script>
$(function(){
  var infoBox = $(".success-box");
  var warningBox = $(".warning-box");
  let loader =$("#loader");
  loader.hide();
  $(".wpcf7-submit").click(function(e) {
    loader.show();
    var name = $("#name").val();
    var email = $("#email").val();
    var phone = $("#phone").val();
    var message = $("#message").val();

       //for(var i=0; i<formData.length; i++){
         if(email === "" || name=== "" || phone=== "" || message=== "")
         {
           loader.hide();
           warningBox.show();
           infoBox.hide();
         }
         else{

          $.ajax({
              type: 'POST',
              url: "/project",
              data: {email:email,name:name,phone:phone,message:message},
          }).done(function(data) {
            infoBox.show();
            loader.hide();
            warningBox.hide();
          });
         }

  });
})

</script>
