<!-- #page-title start -->
       <section id="page-title" class="page-title-1" data-stellar-background-ratio="0.5">
           <div class="container">
               <div class="row">
                   <div class="grid_8">
                       <div class="pt-title triggerAnimation animated" data-animate="fadeInLeft">
                           <h1>Our UI team uses the latest   <span class="strong"> UI·UX practices</span>  <br />
                              to render a high quality product that will achieve business goals and satisfy user needs</h1>
                       </div>
                   </div><!-- .grid_8 end -->

                   <!-- .grid_4 start -->
                   <div class="grid_4">
                       <div class="pt-image-container">
                           <div class="pt-image triggerAnimation animated" data-animate="fadeInUp">
                               <img class="float-right" src="img/page-titles/services-page-title.png" alt="Affordable software development in Edinburgh" />
                           </div>
                       </div>
                   </div><!-- .grid_4 end -->
               </div><!-- .row end -->

               <div class="row">

               </div>
           </div><!-- .container end -->
       </section><!-- #page-title end -->

       <!-- .page-content start -->
       <section class="page-content">
           <!-- .container start -->
           <div class="container">
               <!-- .row start -->
               <div class="row">

                   <article class="grid_3">
                       <img class="triggerAnimation animated" src="img/pictures/woman-ceo.png" alt="Affordable software development in Scotland" data-animate="fadeInLeft"/>
                   </article>

                   <article class="grid_9">
                       <div class="triggerAnimation animated" data-animate="fadeInRight">
                           <!-- .heading-bordered start -->
                           <section class="heading-bordered">
                               <h3>Softnergy’s UI and UX services. Our design team is an average design studio within a large software company that will help you build an interactive product. </h3>
                           </section><!-- .heading-bordered end -->
                           <ul class="services-overview">
                               <li>
                                   <h5>MOBILE DESIGN</h5>
                                   <p>
                                       Stylish and modern design for all
                                        screen sizes and platforms: Android,
                                         iOS, tablets.
                                          We follow guidelines by adhering to heuristic approach for design intuition.
                                   </p>
                               </li>

                               <li>
                                   <h5>WEB DESIGN</h5>
                                   <p>
                                       User-centered web design for laptops,
                                        tablets and mobile devices in FullHD quality.
                                         We help you design your brand identity,
                                          ensure page optimization by making it faster,
                                           and leverages real-time page update.
                                   </p>
                               </li>

                               <li>
                                   <h5>RESPONSIVE UI-UX</h5>
                                   <p>
                                       We create web pages that
                                        are easy to navigate on the screen
                                         of any size and device.
                                          Our expert team is ready to offer
                                           flexible features that are a witness
                                            to increase your company’s business graph. We deliver highly performant and responsive UI-UX service that predicts the future trends with giving a better experience.
                                   </p>
                               </li>
                           </ul>
                       </div><!-- .triggeranimation.animated end -->
                   </article><!-- .grid_12 -->
               </div><!-- .row end -->

               <!-- .row start -->
               <div class="row">
                   <article class="grid_8">
                       <div class="triggerAnimation animated" data-animate="fadeInLeft">
                           <section class="heading-bordered">
                               <h3>UI-UX <b>Development </b> Frameworks</h3>
                           </section><!-- .heading-bordered end -->

                           <ul class="tabs">
                               <li class="active">
                                   <a href="#tab1">Bootstrap</a>
                               </li>
                               <li class="">
                                   <a href="#tab2">React</a>
                               </li>
                               <li>
                                   <a href="#tab3">AngularJS</a>
                               </li>
                               <li>
                                   <a href="#tab4">Foundation</a>
                               </li>
                           </ul><!-- .tabs end -->

                           <!-- .tabs-content-wrap start -->
                           <section class="tab-content-wrap">
                               <!-- #tab1 content start -->
                               <div id="tab1" class="tab-content">
                                   <p>
                                       <img src="img/pictures/services-devices.png" class="float-left" alt="Affordable software development in Scotland"/>
                                    Bootstrap is an open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS- and (optionally) JavaScript-based design templates for typography, forms, buttons, navigation and other interface components.


                                   </p>

                                   <br />


                               </div><!-- #tab1 content end -->

                               <!-- #tab1 content start -->
                               <div id="tab2" class="tab-content">
                                   <p>
                                       <img src="img/pictures/services-devices.png" class="float-right" alt="Affordable software development in Scotland"/>
                                      React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.
                                   </p>
                               </div><!-- #tab2 content end -->

                               <!-- #tab1 content start -->
                               <div id="tab3" class="tab-content">
                                   <p>
                                       <img src="img/pictures/services-devices.png" class="float-left" alt="Affordable software development in Scotland"/>
                                       AngularJS is a JavaScript-based open-source front-end web framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications. It aims to simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) and model–view–viewmodel (MVVM) architectures, along with components commonly used in rich Internet applications.
                                   </p>
                               </div><!-- #tab3 content end -->
                               <!-- #tab4 content start -->
                               <div id="tab4" class="tab-content">
                                   <p>
                                       <img src="img/pictures/services-devices.png" class="float-left" alt="Affordable software development in Scotland"/>
                                       Foundation is a responsive front-end framework. Foundation provides a responsive grid and HTML and CSS UI components, templates, and code snippets, including typography, forms, buttons, navigation and other interface elements, as well as optional functionality provided by JavaScript extensions. Foundation is maintained by ZURB and is an open source project.
                                   </p>
                               </div><!-- #tab4 content end -->
                           </section><!-- .tab-content-wrap end -->
                       </div><!-- .triggernAnimation.animated end -->
                   </article>

                   <!-- .grid_4 start -->
                   <article class="grid_4">
                       
                   </article><!-- .grid_4 end -->
               </div><!-- .row end -->
           </div><!-- .container end -->
       </section><!-- .page-content end -->
       <script>
         jQuery(document).ready(function ($) {

           //var homeMenu = $("#home_menu");
           var aboutMenu = $("#about-menu");
           var careerMenu = $("#career-menu");
           var mobileMenu = $("#mobile-menu");
           var webMenu = $("#web-menu");
           var uiMenu = $("#ui-menu");
           var contactMenu = $("#contact-menu");

           var serviceMenu = $("#service-menu");

           serviceMenu.addClass("current-menu-item");
           aboutMenu.removeClass("current-menu-item");
           webMenu.removeClass("current-menu-item");
           uiMenu.addClass("current-menu-item");
           mobileMenu.removeClass("current-menu-item");
           careerMenu.removeClass("current-menu-item");
           contactMenu.removeClass("current-menu-item");
         })

       </script>
