<!-- #page-title start -->
       <section id="page-title" class="page-title-1" data-stellar-background-ratio="0.5">
           <div class="container">
               <div class="row">
                   <div class="grid_8">
                       <div class="pt-title triggerAnimation animated" data-animate="fadeInLeft">
                           <h1>We build <span class="strong">Responsive web applications and websites </span>  <br />
                               leveraging the most robust technologies in the industry to help you boost your business</h1>
                       </div>
                   </div><!-- .grid_8 end -->

                   <!-- .grid_4 start -->
                   <div class="grid_4">
                       <div class="pt-image-container">
                           <div class="pt-image triggerAnimation animated" data-animate="fadeInUp">
                               <img class="float-right" src="img/page-titles/services-page-title.png" alt="services page title image" />
                           </div>
                       </div>
                   </div><!-- .grid_4 end -->
               </div><!-- .row end -->

               <div class="row">

               </div>
           </div><!-- .container end -->
       </section><!-- #page-title end -->

       <!-- .page-content start -->
       <section class="page-content">
           <!-- .container start -->
           <div class="container">
               <!-- .row start -->
               <div class="row">

                   <article class="grid_3">
                       <img class="triggerAnimation animated" src="img/pictures/woman-ceo.png" alt="ceo" data-animate="fadeInLeft"/>
                   </article>

                   <article class="grid_9">
                       <div class="triggerAnimation animated" data-animate="fadeInRight">
                           <!-- .heading-bordered start -->
                           <section class="heading-bordered">
                               <h3>We Build Scalable, Robust And User-Friendly  <b>Web Application</b></h3>
                           </section><!-- .heading-bordered end -->
                           <ul class="services-overview">
                               <li>
                                   <h5>UI/UX & PROTOTYPING</h5>
                                   <p>
                                       With years of experience, we have elaborated core principles
                                         of UI and UX design. Our custom
                                          web development with using its
                                           functionality and quality of implementation.
                                            Our agile process enables you reduce the overall
                                             development cost and integrates it with the
                                              website development process.
                                               We delivers elegant solutions that are
                                                   interactive, flexible and specially made for your company brand.
                                   </p>
                               </li>

                               <li>
                                   <h5>WEB DESIGN & DEVELOPMENT</h5>
                                   <p>
                                       We use our long-standing user experience across the software development
                                        lifecycle. Additionally, we undertake end-to-end web design
                                         & development for entrenched market leaders and emerging
                                          businesses. We draw a modern approach and put the highest
                                           level of scalability while maintaining the performance
                                            of your model. With us, you’ll get productive,
                                             engaging and reliable solutions for business outcomes you deserve.
                                   </p>
                               </li>

                               <li>
                                   <h5>RESPONSIVE WEB DEVELOPMENT</h5>
                                   <p>
                                       We create web pages that
                                        are easy to navigate on the screen
                                         of any size and device.
                                          Our expert team is ready to offer
                                           flexible features that are a witness
                                            to increase your company’s business graph. We deliver highly performant and responsive web design service that predicts the future trends with giving a better experience.
                                   </p>
                               </li>
                           </ul>
                       </div><!-- .triggeranimation.animated end -->
                   </article><!-- .grid_12 -->
               </div><!-- .row end -->

               <!-- .row start -->
               <div class="row">
                   <article class="grid_8">
                       <div class="triggerAnimation animated" data-animate="fadeInLeft">
                           <section class="heading-bordered">
                               <h3>Web <b>Development </b> Frameworks</h3>
                           </section><!-- .heading-bordered end -->

                           <ul class="tabs">
                               <li class="active">
                                   <a href="#tab1">.Net Core</a>
                               </li>
                               <li class="">
                                   <a href="#tab2">React JS</a>
                               </li>
                               <li>
                                   <a href="#tab3">Spring MVC</a>
                               </li>
                           </ul><!-- .tabs end -->

                           <!-- .tabs-content-wrap start -->
                           <section class="tab-content-wrap">
                               <!-- #tab1 content start -->
                               <div id="tab1" class="tab-content">
                                   <p>
                                       <img src="img/pictures/services-devices.png" class="float-left" alt="image"/>
                                       .NET Core is an open-source, general-purpose development platform maintained by Microsoft and the .NET community on GitHub. It's cross-platform (supporting Windows, macOS, and Linux) and can be used to build device, cloud, and IoT applications.


                                   </p>

                                   <br />


                               </div><!-- #tab1 content end -->

                               <!-- #tab1 content start -->
                               <div id="tab2" class="tab-content">
                                   <p>
                                       <img src="img/pictures/services-devices.png" class="float-right" alt="image"/>
                                      React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.
                                   </p>
                               </div><!-- #tab2 content end -->

                               <!-- #tab1 content start -->
                               <div id="tab3" class="tab-content">
                                   <p>
                                       <img src="img/pictures/services-devices.png" class="float-left" alt="image"/>
                                       The Spring Web MVC framework provides Model-View-Controller (MVC) architecture and ready components that can be used to develop flexible and loosely coupled web applications. The MVC pattern results in separating the different aspects of the application (input logic, business logic, and UI logic), while providing a loose coupling between these elements.
                                   </p>
                               </div><!-- #tab3 content end -->
                           </section><!-- .tab-content-wrap end -->
                       </div><!-- .triggernAnimation.animated end -->
                   </article>

                   <!-- .grid_4 start -->
                   <article class="grid_4">
                       <div class="triggerAnimation animated" data-animate="fadeInRight">


                           <article>
                              
                           </article><!-- .testimonial-carousel end -->
                       </div><!-- .triggerAnimation.animated end -->
                   </article><!-- .grid_4 end -->
               </div><!-- .row end -->
           </div><!-- .container end -->
       </section><!-- .page-content end -->

       <script>
         jQuery(document).ready(function ($) {

           //var homeMenu = $("#home_menu");
           var aboutMenu = $("#about-menu");
           var careerMenu = $("#career-menu");
           var mobileMenu = $("#mobile-menu");
           var webMenu = $("#web-menu");
           var uiMenu = $("#ui-menu");
           var contactMenu = $("#contact-menu");

           var serviceMenu = $("#service-menu");

           serviceMenu.addClass("current-menu-item");
           aboutMenu.removeClass("current-menu-item");
           webMenu.addClass("current-menu-item");
           uiMenu.removeClass("current-menu-item");
           mobileMenu.removeClass("current-menu-item");
           careerMenu.removeClass("current-menu-item");
           contactMenu.removeClass("current-menu-item");
         })

       </script>
